.stack > * + * {
	margin-top: var(--stack-space, 1.5em);
}

.stack h2,
.stack h3 {
	--stack-space: 2em;
}

.stack h2 + *,
.stack h3 + * {
	--stack-space: 0.8em;
}

.stack p {
	line-height: 1.8;
}

.stack ul {
	padding: revert;
	list-style: revert;
}

/* ADD */
pre {
	overflow-x: auto;
	margin-top: 16px;
	margin-bottom: 0px;
	border-radius: 5px;
}

/* コードブロック(ファイル名が入力ありの場合) */
div[data-filename] {
	margin-top: 16px;
}

div[data-filename] > span {
	display: inline-block;
	background-color: #dfdfdf;
	text-align: center;
	padding: 3px 15px;
	border-radius: 5px 5px 0px 0px;
}

div[data-filename] > pre {
	margin-top: 0px;
	border-top-left-radius: 0px;
}
